<!-- src/app/core/components/header/header.component.html -->
<header class="header">
    <div class="container header-container">
      <div class="logo" routerLink="/">
        <span class="icon-wrapper logo-icon">
          <img src="assets/icons/palma.png" alt="Logo icon" class="custom-icon">
        </span>
        <span class="app-title">Palma</span>
      </div>
      <div class="spacer"></div>
      <!-- Navigation for desktop -->
      <nav class="desktop-nav">
        <a class="nav-link" routerLink="/palms" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <span class="nav-text">Browse Palms</span>
        </a>
        <a class="nav-link" routerLink="/palms/search" routerLinkActive="active">
          <span class="nav-text">Advanced Search</span>
        </a>
        <button class="icon-button info-button" (click)="toggleInfoMenu()" aria-label="Info Menu">
          <span class="icon-wrapper">
            <img src="assets/icons/info.png" alt="Info icon" class="custom-icon">
          </span>
        </button>
        <div class="custom-menu info-menu" [class.visible]="isInfoMenuOpen">
          <div class="menu-items">
            <button disabled class="menu-item">
              <span>About PalmTraits 1.0</span>
            </button>
            <button disabled class="menu-item">
              <span>References</span>
            </button>
          </div>
        </div>
      </nav>
      <!-- Mobile menu button -->
      <button class="mobile-menu-button" (click)="toggleMenu()">
        <span class="icon-wrapper">
          <img *ngIf="!isMenuOpen" src="assets/icons/hamburger.svg" alt="Menu icon" class="openmenu-icon">
          <img *ngIf="isMenuOpen" src="assets/icons/cross.png" alt="Close icon" class="openmenu-icon">
        </span>
      </button>
    </div>
  </header>
  <!-- Mobile navigation menu -->
  <div class="mobile-nav" [class.open]="isMenuOpen">
    <div class="mobile-nav-container">
      <nav class="mobile-nav-links">
        <a class="mobile-nav-link" routerLink="/palms/search" routerLinkActive="active" (click)="toggleMenu()">
          <span class="icon-wrapper mobile-nav-icon">
            <img src="assets/icons/search.png" alt="Search icon" class="custom-icon">
          </span>
          <span class="mobile-nav-text">Advanced Search</span>
        </a>
        <a class="mobile-nav-link" routerLink="/palms" routerLinkActive="active" (click)="toggleMenu()">
          <span class="icon-wrapper mobile-nav-icon">
            <img src="assets/icons/palm.png" alt="Palm icon" class="custom-icon">
          </span>
          <span class="mobile-nav-text">Browse Palms</span>
        </a>
        <a class="mobile-nav-link disabled">
          <span class="icon-wrapper mobile-nav-icon">
            <img src="assets/icons/mindmap.png" alt="Info icon" class="custom-icon">
          </span>
          <span class="mobile-nav-text">About PalmTraits 1.0</span>
        </a>
        <a class="mobile-nav-link disabled">
          <span class="icon-wrapper mobile-nav-icon">
            <img src="assets/icons/ref.png" alt="Ref icon" class="custom-icon">
          </span>
          <span class="mobile-nav-text">References</span>
        </a>
      </nav>
    </div>
  </div>