<!-- Overview Tab Content -->
<div class="overview-cards">
    <!-- Map Container - Full Width -->
    <div class="map-container">
        <app-palm-map></app-palm-map>
    </div>
</div>

<!-- Dataset Summary -->
<div class="dataset-summary">
    <h3>About Palma-1.0 Dataset</h3>
    <p>
        PalmTraits 1.0 is a comprehensive dataset on the world's palms,
        enriched with information from GBIF, iNaturalist, and POWO. It documents
        the diversity, distribution, and ecological characteristics of palms, an
        essential botanical family in tropical and subtropical ecosystems.
    </p>
    <div class="dataset-highlights">
        <div class="highlight-card">
            <div class="icon-wrapper">
                <img src="assets/icons/location.png" alt="Location" class="custom-icon">
            </div>
            <h4>Native Zones</h4>
            <p>Mapping of natural ranges.</p>
        </div>
        <div class="highlight-card">
            <div class="icon-wrapper">
                <img src="assets/icons/dna.png" alt="Taxonomy" class="custom-icon">
            </div>
            <h4>Taxonomy</h4>
            <p>Details on species, genera, tribes, and subfamilies.</p>
        </div>
        <div class="highlight-card">
            <div class="icon-wrapper">
                <img src="assets/icons/palm.png" alt="Morphology" class="custom-icon">
            </div>
            <h4>Morphological Traits</h4>
            <p>Details on size, leaf structure, flowers, and fruits.</p>
        </div>
    </div>
</div>