<!-- src/app/shared/components/search-bar/search-bar.component.html -->
<div class="search-bar-container">
    <form (ngSubmit)="onSearchSubmit()">
        <mat-form-field appearance="outline" class="search-input">
            <mat-icon matPrefix>search</mat-icon>
            <input matInput [formControl]="searchControl" placeholder="Search palms by name, genus, or tribe..."
                autocomplete="off">
            <mat-spinner *ngIf="loading" matSuffix diameter="20"></mat-spinner>
            <button *ngIf="!loading && searchControl.value" mat-icon-button matSuffix type="button"
                (click)="searchControl.setValue('')">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </form>

    <div *ngIf="searchControl.value && (searchResults$ | async) as results" class="search-results">
        <mat-list *ngIf="results.length > 0">
            <mat-list-item *ngFor="let palm of results" (click)="goToPalmDetail(palm)">
                <mat-icon matListItemIcon>eco</mat-icon>
                <div matListItemTitle>{{getSpeciesName(palm)}}</div>
                <div matListItemLine>{{getGenusName(palm)}}</div>
            </mat-list-item>
        </mat-list>
        <div *ngIf="results.length === 0 && !loading" class="no-results">
            <p>No palms matching your search criteria.</p>
        </div>
    </div>
</div>