<!-- src/app/core/components/navbar/navbar.component.html -->
<nav class="navbar">
    <div class="container navbar-container">
        <ul class="nav-links">
            <li><a routerLink="/palms" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
            <li><a routerLink="/palms/search" routerLinkActive="active">Search</a></li>
            <li><a routerLink="/palms/genus" routerLinkActive="active">Genera</a></li>
            <li><a routerLink="/palms/region" routerLinkActive="active">Regions</a></li>
            <li class="dropdown">
                <a (click)="toggleNavbar()" class="dropdown-toggle">
                    Popular <span class="icon">▼</span>
                </a>
                <div class="dropdown-menu" [class.expanded]="isExpanded">
                    <a routerLink="/palms/genus/cocos">Coconut Palms</a>
                    <a routerLink="/palms/genus/phoenix">Date Palms</a>
                    <a routerLink="/palms/genus/areca">Areca Palms</a>
                    <a routerLink="/palms/region/bze">Brazil</a>
                    <a routerLink="/palms/region/mdg">Madagascar</a>
                </div>
            </li>
        </ul>
    </div>
</nav>