<!-- src/app/shared/components/palm-card/palm-card.component.html -->
<mat-card class="palm-card" [class.animate-card]="shouldShowAnimation" [routerLink]="['/palms', getSpecies() | slugify]">
  <div class="card-image-container">
    <img mat-card-image [src]="getImageUrl()" [alt]="getSpecies()" class="palm-image">

  </div>
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>{{getSpecies()}}</mat-card-title>
      <mat-card-subtitle>{{getGenus()}} | {{getTribe()}}</mat-card-subtitle>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    <div class="palm-quick-info">
      <div class="info-item">
        <span class="icon-wrapper">
          <img src="assets/icons/location.png" alt="Native Region" class="custom-icon">
        </span>
        <span class="region-flags">
          <span *ngFor="let region of getNativeRegions()" class="region-item">
            <img *ngIf="getFlagUrl(region)" [src]="getFlagUrl(region)" alt="{{region}} flag" class="flag-img"/>
            <span *ngIf="!getFlagUrl(region)" class="flag-placeholder"></span>
            <span class="region-text">{{ region }}</span>
          </span>
        </span>
      </div>
      <div class="info-item">
        <span class="icon-wrapper">
          <img src="assets/icons/forest.png" alt="Habitat" class="custom-icon">
        </span>
        <span>{{getHabitat()}}</span>
      </div>
      <div class="info-item">
        <span class="icon-wrapper">
          <img src="assets/icons/rule.png" alt="Height" class="custom-icon">
        </span>
        <span>{{getHeight()}}</span>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="primary">VIEW DETAILS</button>
  </mat-card-actions>
</mat-card>